* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
  cursor: none;
}

#cursor{
  height: 1em;
  width: 1em;
  background-color: rgb(220, 20, 60);
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(https://img.freepik.com/premium-photo/splash-frame-background-copy-space_1179130-399552.jpg?w=2000);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 8;
}

