* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}

main{
  background-color: rgb(141, 196, 211);
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card img {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

h1{
  font-size: 20px;
}

h3{
  font-size: 15px;
  color: crimson;
}

.card {
  padding: 20px;
  height: 350px;
  width: 250px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  border: 1px solid black;
  flex-shrink: 0;
  flex-grow: 1;
}

button {
  width: 120px;
  padding: 10px;
  border-radius: 5px;
  color:white;
  background-color: rgb(25, 112, 121);
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.friend {
  color: green;
}
.stranger {
  color: red;
}
button.friend {
  background: green;
  color: white;
}
button.stranger {
  background: rgb(25, 112, 121);
  color: white;
}


button:active {
  scale: 0.95;
}


