* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}

.btn {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  transition: all ease 0.2s;
  background-color: #dadada;
}

.btn:active {
  background-color: lightgreen;
  scale: 0.98;
}




#container {
  gap: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: grey;
}

#bulb{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: white;
}
